:root {
  --backround-color: #1e252b;
  --backround-color2: #283036;
  --accent-color: #ff6e30;
  --title-color: #ffffffe5;
  --text-color: #ffffff8c;
  --text2-color: #ffffffc7;
  --pretitle-color: #ffa5378c;
  --pretitle2-color: #ffa537;
  --input-text-color: #ffffff61;
  --input-color: #283036;
  --button-color: #fdf5ff;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0%;
  background-color: var(--backround-color);
}
.container {
  width: 1254px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 2px solid red;
}
.logo,
.footer-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--title-color);
  display: flex;
}
.logo-img {
  width: 19.4px;
  height: 21px;
  margin-right: 21px;
}
.nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--text-color);
}
.nav-item:nth-child(2)::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../images/chevron-down.png);
  background-position: center;
  background-repeat: no-repeat;
}
.nav-list {
  display: flex;
  margin-left: 257px;
  margin-right: 165px;
  gap: 41.3px;
}
.btn {
  font-family: "Poppins", sans-serif;
  color: var(--text2-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  background: none;
  border: none;
  padding: 12px 28px;
  border-radius: 8px;
  width: 118px;
}
.btn:hover {
  color: var(--button-color);
  background-color: var(--accent-color);
}
.btn-list {
  display: flex;
  gap: 4px;
}
.hero-form{
  position: relative;
}
.header {
  margin-top: 26px;
  display: flex;
  align-items: center;
}
.hero-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  letter-spacing: 0%;
  color: var(--title-color);
  width: 600px;
  margin-bottom: 30px;
}
.hero-title > span {
  font-family: "Poppins", sans-serif;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  letter-spacing: 0%;
}
.hero-text {
  font-weight: 400;
  width: 487px;
  margin-bottom: 60px;
}
.hero-input {
  font-family: "Poppins", sans-serif;
  color: var(--input-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  background-color: var(--input-color);
  border: 1.5px solid;
  border-image: linear-gradient(
    90.89deg,
    rgba(255, 255, 255, 0.1) -1.67%,
    rgba(255, 255, 255, 0) 103.73%
  );
  border-radius: 15px;
  padding: 21px 111px 22px 55px;
  margin-bottom: 110px;
  width: 497.66px;
}
.hero-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  padding: 12px 36px;
  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 8px;
  border: none;
  position: absolute;
  left: 350px;
  top: 12px;
}
.hero-item {
  width: 58px;
  height: 58px;
}
.hero-img {
  padding: 12px;
}
.hero-list {
  display: flex;
}
.hero {
  background-image: url(../images/backround.png);
  background-position: right;
  background-repeat: no-repeat;
  padding-top: 60px;
  margin-top: 44px;
  margin-bottom: 200px;
}
.section-title {
  font-family: "Poppins", sans-serif;
  color: var(--title-color);
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 25px;
}
.tools-p {
  text-align: center;
}
.tools-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  margin-bottom: 100px;
}
.tools-item {
  width: calc((100% - 48px) / 3);
  border-radius: 15px;
  height: 294px;
}
.tools-item:nth-child(-n + 3) {
  margin-top: 110px;
}
.tools-item.tools-item:nth-child(-n + 3):hover {
  margin-top: 90px;
}
.tools-item:nth-last-child(-n + 3) {
  margin-top: 100px;
}
.tools-item:nth-last-child(-n + 3):hover {
  margin-top: 80px;
}
.tools-inf {
  display: flex;
  gap: 30px;
  margin-left: 33px;
  margin-bottom: 30px;
  margin-top: 33px;
}
.tools-name,
.tools-name2 {
  font-family: "Poppins", sans-serif;
  color: var(--text2-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 3px;
}
.tools-status,
.tools-status2 {
  font-family: "Poppins", sans-serif;
  color: var(--pretitle-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}
.tools-text {
  margin-left: 33px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
.action-list {
  display: flex;
  gap: 12px;
  margin-left: 33px;
}
.action-item,
.action-item2 {
  width: 42px;
  height: 42px;
  border-radius: 8px;
  padding: 6px;
}
.action-item:first-child {
  padding: 7px;
  background-color: var(--backround-color);
}
.action-btn,
.action-btn2 {
  border: none;
  background: none;
}
.action-like-red {
  display: none;
}
.do {
  display: flex;
  gap: 124px;
  margin-bottom: 33px;
}
.tools-btn,
.tools-btn2 {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 9px 35px;
  border-radius: 8px;
  border: none;
  background: none;
}
.tools-item:hover {
  background-image: url(../images/backr-hover.png);
}
.tools-item:hover .tools-name,
.new-item:hover .tools-name2 {
  color: var(--title-color);
}
.tools-item:hover .tools-status,
.new-item:hover .tools-status2 {
  color: var(--pretitle2-color);
}
.tools-item:hover .tools-text,
.new-item:hover .tools-text2 {
  color: var(--text2-color);
}
.tools-item:hover .tools-btn,
.new-item:hover .tools-btn2 {
  color: #ffffff;
  background-color: var(--accent-color);
}
.tools-item:hover .action-like {
  display: none;
}
.tools-item:hover .action-like-red {
  display: block;
}
.tools-load {
  background-color: var(--backround-color);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: var(--accent-color);
  border: 1px solid #ffffff1a;
  display: block;
  margin: 0 auto;
  padding: 17px 38px;
  border-radius: 8px;
}
.tools {
  margin-bottom: 200px;
}
.brands {
  background-image: url(../images/backr2.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 200px;
}
.brands-title {
  padding-top: 55px;
  margin-bottom: 55px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffffcc;
  text-align: center;
}
.brands-list {
  display: flex;
  gap: 107px;
  margin-left: 82px;
  padding-bottom: 56px;
}
.new {
  display: flex;
  gap: 197px;
}
.new-title {
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  color: var(--title-color);
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0%;
}
.new-text {
  margin-bottom: 60px;
}
.new-btn {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  padding: 16px 40px;
  border-radius: 8px;
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}
.new-list {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
}
.new-item {
  width: calc((100% - 24px) / 2);
  border-radius: 15px;
  height: 284px;
}
.new-item:nth-child(-n + 2) {
  margin-top: 20px;
}
.new-item:nth-child(-n + 2):hover {
  margin-top: 0px;
}
.new-item:nth-last-child(-n + 2) {
  margin-top: 50px;
}
.new-item:nth-last-child(-n + 2):hover {
  margin-top: 30px;
}
.do2 {
  display: flex;
  gap: 43px;
  margin-left: 22px;
  margin-bottom: 28px;
  margin-right: 21px;
}
.tools-inf2 {
  display: flex;
  margin-top: 28px;
  margin-left: 22px;
  gap: 30px;
  margin-bottom: 30px;
}
.tools-text2 {
  margin-left: 22px;
  font-family: "Poppins", sans-serif;
  width: 245px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.87;
  letter-spacing: 0%;
  margin-bottom: 30px;
}
.action-list2 {
  display: flex;
  gap: 12px;
}
.new-item:hover {
  background-image: url(../images/backr-hover2.png);
}
.new {
  margin-bottom: 200px;
}
.team-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 1.5%;
  margin-top: 128px;
  color: var(--text2-color);
  margin-bottom: 64px;
}
.team-inf {
  background-image: url(../images/backr-div.png);
  width: 265px;
  padding: 10px 22px 16px 23px;
  border-radius: 8px;
}
.team-name {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  color: #fffdfdc7;
  letter-spacing: 1.5%;
  margin-bottom: 2px;
}
.team-profession {
  font-family: "Poppins", sans-serif;
  color: #fffdfd8c;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.join {
  width: 583px;
  margin-bottom: 240px;
}
.join-title {
  font-family: "Poppins", sans-serif;
  color: var(--title-color);
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 25px;
}
.join-text {
  text-align: center;
  margin-left: 63px;
  margin-right: 63px;
  margin-bottom: 100px;
}
.join-input {
  background-color: #283036;
  padding: 22px 260px 21px 24px;
  border: 1.5px solid;
  border-image: linear-gradient(
    90.89deg,
    rgba(255, 255, 255, 0.1) -1.67%,
    rgba(255, 255, 255, 0) 103.73%
  );
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--text-color);
  border-radius: 15px;
  width: 549px;
}
.join-btn {
  background-color: var(--accent-color);
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  padding: 12px 36.43px 12px 35.81px;
  position: absolute;
  left: 400px;
  top: 10px;
}
.join-form{
  position: relative;
}
.footer {
  border-top: 0.5px solid #ffffff26;
}
.footer-container {
  display: flex;
  gap: 156px;
}
.footer-logo {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 70px;
}
.logo-img2 {
  width: 38px;
}
.info-pre {
  font-family: "Poppins", sans-serif;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 21px;
}
.info-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.78;
  letter-spacing: 0%;
}
.info {
  width: 260px;
  margin-bottom: 98px;
}
.footer-list {
  display: flex;
  gap: 115px;
  margin-top: 70px;
}
.footer-title {
  font-family: "Poppins", sans-serif;
  color: var(--title-color);
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
.more-link {
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.team-chevron-hover {
  display: none;
  transform: rotate(180deg);
}
.pre-btn:hover .team-chevron,
.nxt-btn:hover .team-chevron {
  display: none;
}
.pre-btn:hover .team-chevron-hover,
.nxt-btn:hover .team-chevron-hover {
  display: block;
}
.team {
  padding: 0 auto;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin: 0 auto;
  width: 849px;
}
.team::-webkit-scrollbar {
  display: none;
}
.team-card {
  flex: 0 0 auto;
  width: 849px;
  height: 492px;
  display: flex;
  gap: 57px;
}
.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
  z-index: 9;
}
.pre-btn {
  left: 0;
}
.nxt-btn {
  right: 0;
  transform: rotate(180deg);
}
.gallery {
  margin: 0 auto;
  margin-bottom: 358px;
  position: relative;
}
